<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.5" />
        <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="StickyHandler" path="*.ashx" verb="*" type="StickyNotes.Handler" resourceType="Unspecified" preCondition="integratedMode" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>